@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,600;0,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600&display=swap');

body {
  	margin: 0; 
  	line-height: normal;
}

:root {
  	/* Color */
  	--color-aliceblue-100: #f1f5f9;
  	--color-aliceblue-200: #eaf3ff;
  	--color-darkslateblue: #0040a0;
  	--color-darkslategray: #45556c;
  	--color-gray-100: #0f172b;
  	--color-gray-200: rgba(255, 255, 255, 0.1);
  	--color-gray-300: rgba(255, 255, 255, 0.9);
  	--color-lightsteelblue: #bedbff;
  	--color-mintcream: #f2fcf8;
  	--color-steelblue: #0074bd;
  	--color-white: #fff;
  	--color-whitesmoke: #f9f9f9;
  	
  	/* Gap */
  	--gap-4: 4px;
  	--gap-11: 11px;
  	--gap-16: 16px;
  	--gap-64: 64px;
  	
  	/* Padding */
  	--padding-0: 0px;
  	--padding-16: 16px;
  	--padding-24: 24px;
  	--padding-48: 48px;
  	
  	/* BorderRadius */
  	--br-0: 0px;
  	--br-4: 4px;
  	--br-12: 12px;
  	--br-14: 14px;
  	--br-16: 16px;
  	--br-24: 24px;
  	--br-40: 40px;
  	--br-500: 500px;
  	--br-16777200: 16777200px;
  	--br-5_05: 5.05px;
  	
  	/* Font */
  	--font-dm-sans: "DM Sans", Helvetica;
  	--font-inter: Inter, Helvetica;
  	--font-open-sans: "Open Sans", Helvetica;
  	
  	/* FontSize */
  	--fs-12: 12px;
  	--fs-14: 14px;
  	--fs-16: 16px;
  	--fs-18: 18px;
  	--fs-20: 20px;
  	--fs-24: 24px;
  	--fs-32: 32px;
  	--fs-10_4: 10.4px;
  	
  	/* Borders */
  	--border-1: 1px solid var(--color-aliceblue-100);
  	--border-2: 1px solid transparent;
  	
  	/* Shadows */
  	--shadow-drop: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  	--shadow-drop-1: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  	--shadow-drop-2: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
  	
  	/* Gradients */
  	--gradient-1: linear-gradient(90deg, #155dfc, #4f39f6);
  	--gradient-2: var(--color-white) padding-box, linear-gradient(135deg, #82ca7e, #50a0cc) border-box;
  	--gradient-3: linear-gradient(90deg, #9810fa, #e60076);
  	--gradient-4: linear-gradient(90deg, #e7000b, #f54900);
  	--gradient-5: linear-gradient(90deg, #00a63e, #009689);
  	--gradient-6: linear-gradient(153.82deg, #2f6fa3, #14023e);
  	
  	/* WidthHeights */
  	--height-1: 1px;
  	--height-16: 16px;
  	--height-20: 20px;
  	--height-24: 24px;
  	--height-28: 28px;
  	--height-32: 32px;
  	--height-48: 48px;
  	--height-64: 64px;
  	--height-68: 68px;
  	--height-80: 80px;
  	--height-192: 192px;
  	--height-285: 285px;
  	--height-368: 368px;
  	--height-376: 376px;
  	--height-396: 396px;
  	--height-668: 668px;
  	--height-310_3: 310.3px;
  	--width-16: 16px;
  	--width-32: 32px;
  	--width-64: 64px;
  	--width-68: 68px;
  	--width-80: 80px;
  	--width-212: 212px;
  	--width-260: 260px;
  	--width-316: 316px;
  	--width-355: 355px;
  	--width-1114: 1114px;
  	--width-1440: 1440px;
  	--width-210_5: 210.5px;
  	--width-210_6: 210.6px;
  	--width-260_5: 260.5px;
  	--width-268_5: 268.5px;
  	
  	/* LineHeights */
  	--lh-12: 12px;
  	--lh-16: 16px;
  	--lh-18: 18px;
  	--lh-20: 20px;
  	--lh-24: 24px;
  	--lh-26: 26px;
  	--lh-28: 28px;
  	--lh-32: 32px;
  	--lh-36: 36px;
  	--lh-48: 48px;
  	
  	/* LetterSpacings */
  	--ls--0_15: -0.15px;
  	--ls--0_31: -0.31px;
  	--ls--0_45: -0.45px;
  	--ls-0_07: 0.07px;
  	--ls-0_4: 0.4px;
  	
  	/* Opacities */
  	--opacity-0: 0;
  	--opacity-0_1: 0.1;
  	--opacity-0_6: 0.6;
  	--opacity-0_7: 0.7;
}
